.button {
    padding: 10px 20px;
    text-decoration: none;
    margin: 30px 10px 10px 0;
    box-shadow: none;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    transition: background-color .3s, color .3s;
}
.button:hover {
    color: #039be5;
    background-color: #cfd8dc;
    transition: background-color .3s, color .3s;
}

input {
    padding: 5px 10px;
    margin: 5px 0;
    width: auto;
}

img {
    height: 400px;
    width: auto;
}